<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Alternatives_to_animal_testing2.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Alternavites to animal testing in education and research</title>

    <link href="css/StyleSheet1.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header>
        <img src="images/geongangie.jpg" alt="Geongangie, the dog in the university lab">
        <h1>Alternatives to animal testing in education and research</h1>
    </header>
    
    <form id="form1" runat="server">
     <nav>
      <asp:Menu ID="Menu1" runat="server" DataSourceID="MainNavDS" Orientation="Horizontal">
                <StaticHoverStyle BackColor="Yellow" BorderColor="Green" />
      </asp:Menu>
     </nav>

     <main>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
     </main> 
    </form>
        

    <footer>
        <p><small>Alternatives to animal testing platform 2023</small></p>
    </footer>

    <asp:SiteMapDataSource ID="MainNavDS" runat="server" ShowStartingNode="False" />

</body>
</html>
